<body class="h-screen grid items-center justify-center">
  <div class="max-w-7xl mx-auto px-12">
    <h1 class="
      inline
      text-3xl
      font-extrabold
      tracking-tight
      text-gray-900
      sm:text-4xl
      sm:block
    ">Enter CNPJ</h1>

    <form [formGroup]="testeForm" name="myForm" class="mt-8 sm:flex">
      <label for="enter-cnpj" class="sr-only">Enter CNPJ</label>
      <input class="border border-gray-300
        rounded-md
        px-5
        py-3
        focus:outline-none
        focus:ring-green-500
        focus:border-green-500
        w-full
        "
        type="text"
        placeholder="00.000.000/0000-00"
        id="enter-cnpj"
        formControlName="cnpj"
        required
      >

      <div class="mt-3 sm:ml-3 sm:mt-0 sm:flex-shrink-0">

        <button class="bg-green-500 px-5 py-3 text-white rounded-md
          flex items-center justify-center
          hover:bg-green-600
          focus:outline-none
          focus:ring-2 focus:ring-offset-2 focus:ring-green-500
          w-full
          "
        >Enter</button> <!-- Adiciona o (submit)="cnpj"-->
      </div>

      <div class="flex space-x-4">
        <div class="grid items-center justify-center">
          <input class="border border-gray-300
            rounded-md
            px-5
            py-3
            ml-3
            focus:outline-none
            focus:ring-green-500
            focus:border-green-500
            w-full
            "
            type="text"
            formControlName="valueA"
            required

          >
        </div>

        <div class="grid items-center justify-center ">
          <input class="border border-gray-300
            rounded-md
            px-5
            py-3
            ml-3
            focus:outline-none
            focus:ring-green-500
            focus:border-green-500
            w-full
            "
            type="text"
            formControlName="valueB"
            required
          >
        </div>

        <div class="mt-3 sm:ml-3 sm:mt-0 sm:flex-shrink-0">
          <button class="bg-green-500 px-5 py-3 text-white rounded-md
            flex items-center justify-center ml-3
            hover:bg-green-600
            focus:outline-none
            focus:ring-2 focus:ring-offset-2 focus:ring-green-500
            w-full
            "
          >Calculate Average</button> <!--Adiciona o (submit)="calcularMedia"-->
        </div>
      </div>
    </form>
  </div>
</body>
